body{
    background-color: rgb(208, 222, 222);
    
}

.homepage {
    background-image: url('./_59368231-6b2c-4396-9c52-32d9025c0ebc.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.warningText {
    color: red;
    font-weight:bold
}