body{
    background-color: rgb(208, 222, 222);
    
}

.homepage {
    background-image: url('./_59368231-6b2c-4396-9c52-32d9025c0ebc.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.warningText {
    color: red;
    font-weight:bold
}
.successText {
    color: rgb(11, 141, 69);
    font-weight:bold
}

.clearText {
    font-weight: bold;
}

[x-cloak] {
    display: none;
}